body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    padding: 20px;
}

.weeks {
    display: flex;
    flex-direction: column;
}

.week {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #333;
    text-align: center;
}

.week.active {
    border: 2px solid #fff;
}

.theme-button {
    margin-top: auto;
    padding: 10px;
    background-color: #ff1493;
    text-align: center;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

.week-content {
    display: none;
}

.week-content.active {
    display: block;
}

.challenge {
    margin-bottom: 20px;
}

.description {
    margin-bottom: 10px;
}

.selectors {
    display: flex;
    gap: 10px;
}

.legend-selector, .challenge-selector, .weapon-selector, .text-input {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #ff1493;
    color: #fff;
    border: none;
    cursor: pointer;
}

button.clear-all, button.clear-week-data {
    margin-top: 10px;
}


.br-text {
    color: lightblue; 
    font-weight: bold; 
}

.nbr-text {
    color: blue; 
    font-weight: bold; 
}